<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{title} &raquo {site_name}</title>
    {headers}
  </head>
  <body>
    {notify}
    {sys_header}
    <section class="hero d-flex justify-content-center align-items-center">
      <div class="background overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="hero-box-left d-flex flex-column justify-content-center align-items-start">
              <h1>Игровые сервера <span>MineCraft</span> для тебя и твоих друзей :3</h1>
              <p>Присоеденяйся к игре на наших серверах только сейчас и сегодня! Лучшие игровые сборки и самописные моды только у нас!</p>
              <a href="/start">Начать играть</a>
              <div class="server-status">
                <div class="data-stats d-flex flex-row justify-content-between aling-items-baseline">
                  <h2 class="mb-0">Загруженность серверов</h2>
                  <span class="mb-0"></span>
                </div>
                <div class="progress">
                  <div class="progress-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a data-scroll="" href="#information" class="animated infinite pulse delay-2s down d-flex align-items-center animate-down-to-up position-absolute text-center">Прокрутить вниз</a>
      </div>
    </section>
    {content}
    <footer class="back">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="project-logo d-flex flex-column align-items-start justify-content-center">
              <img src="theme/assets/img/logotype.png" alt="Try to survive Minecraft сервера">
              <p><a href="/">tts.land</a> игровой проект Minecraft</p>
              <p>Все права защищены!</p>
            </div>
          </div>
          <div class="col-md-9">
            <div class="nav-box d-flex flex-column w-100 justify-content-between h-100">
              <h3>Навигация</h3>
              <div class="nav-elements d-flex flex-row align-items-center justify-content-between">
                <div class="nav-box-links d-flex flex-row align-items-center">
                  <div class="nav-box-elements d-flex flex-column justify-content-center align-items-start">
                    <a href="#link1">Ссылка #1</a>
                    <a href="#link2">Ссылка #2</a>
                    <a href="#link3">Ссылка #3</a>
                  </div>
                  <div class="nav-box-elements d-flex flex-column justify-content-center align-items-start">
                    <a href="#link1">Ссылка #4</a>
                    <a href="#link2">Ссылка #5</a>
                    <a href="#link3">Ссылка #6</a>
                  </div>
                  <div class="nav-box-elements d-flex flex-column justify-content-center align-items-start">
                    <a href="#link1">Ссылка #7</a>
                    <a href="#link2">Ссылка #8</a>
                    <a href="#link3">Ссылка #9</a>
                  </div>
                </div>
                <div class="nav-box-socials d-flex flex-row justify-content-center align-items-start">
                  <a class="soc-element" href="/vk"><i class="fab fa-vk"></i></a>
                  <a class="soc-element" href="/discord"><i class="fab fa-discord"></i></a>
                  <a class="soc-element" href="/youtube"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
